<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    
</head>
<body>
    <header>
        <!-- Barra de navegación, logo, etc. -->
        <h1>Coder Ecommerce</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                
            </ul>
        </nav>
    </header>

    <main> 
        {{{body}}}  
    </main>

    <footer>
        
        <p>&copy; 2024 Coder Ecommerce</p>
    </footer>

    
</body>
</html>
