<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!-- Aquí  incluir  estilos CSS, scripts, etc. -->
</head>
<body>
    <header>
        <!-- Barra de navegación, logo, etc. -->
        <h1>Coder Ecommerce</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                <!-- Otros enlaces de navegación-->
            </ul>
        </nav>
    </header>

    <main> 
        {{{body}}}  <!-- Aquí se insertará el contenido de cada vista -->
    </main>

    <footer>
        <!-- Pie de página -->
        <p>&copy; 2024 Coder Ecommerce</p>
    </footer>

    <!-- Aquí puedes incluir  scripts JS al final del body -->
</body>
</html>
